body{
  width:80%;margin:auto;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {color: #FFF;}
a:active, a:hover {color: #FFF;}

#share-widget{
  display:none;
}

.container {
    max-width: 204px;
    margin: auto;
    text-align:center;
}

.container::after {
    display: block;
    clear: both;
    content: "";
}

.cube {
    float: left;
    text-align: center;
    line-height: 100px;
    width: 100px; height: 100px;
    color:#FFF;
    border: 1px solid #FFF;
}

.cube:hover{
  opacity:0.85;
}

.q1{
  background:#3b5998;
  /*border-top-left-radius:150px;*/
}

.q2{
  background:#55ACEE;
  /*border-top-right-radius:150px;*/
}

.q3{
  background:#dd4b39;
  /*border-bottom-left-radius:150px;*/
}

.q4{
  background:#111;
  /*border-bottom-right-radius:150px;*/
}

i{
  vertical-align: middle;
}
